@use '../../node_modules/bootstrap/scss/bootstrap.scss' with (
  $primary: #684a8d,
  $secondary: #9f86cc,

  $grid-breakpoints: (
    xs: 0,
    sm: 550px,
    md: 800px,
    lg: 1000px,
    xl: 1250px,
    xxl: 1350px,
  ),
  $form-text-color: yellow,
  $font-family-sans-serif: 'Roboto',

  $border-radius: 0.4rem,
  $border-width: 2px,
  $border-radius-sm: 0.45rem,
  $border-radius-lg: 0.75rem,

  $h1-font-size: 3.5rem,
  $h2-font-size: 2.5rem,

  $form-text-font-weight: 500,
  $input-padding-x-lg: 1.5rem,

  $form-range-thumb-bg: #684a8d,
  $form-range-track-bg: #9f86cc,
  $form-range-thumb-width: calc(1rem * 1.5)
);

h1,
h2,
h3 {
  font-size: revert;
  margin-top: revert;
  margin-bottom: 1rem;
}

caption {
  text-align: revert;
}
