<!DOCTYPE html>
<html lang="ro">
<!-- etapa_4: 15 -->

<head>
  <meta name="keywords" content="flori, magazin flori, trandafiri, lalele, buchet de flori" />
  <meta name="description" content="Despre floraria X" />

  <title>Floraria X</title>
  <%- include("../fragmente/head.ejs"); %>
</head>

<body>
  <%- include("../fragmente/header.ejs"); %>

  <body>
    <div class="container mb-5">
      <header class="py-5 text-center">
        <h1 class="display-4">Despre noi</h1>
      </header>

      <section class="my-5">
        <div class="row mb-5">
          <div class="col-md-6">
            <h2 class="h4">Istoric</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras convallis, orci nec feugiat luctus, lectus quam tristique ipsum, nec vehicula sem est sit amet lacus.</p>
          </div>
          <div class="col-md-6">
            <h2 class="h4">Misiunea noastră</h2>
            <p>Integer finibus erat vel quam aliquet, non gravida nisl convallis. Curabitur placerat risus nec libero dignissim, ac bibendum eros dignissim.</p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <h2 class="h4">Prima floare</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras convallis, orci nec feugiat luctus, lectus quam tristique ipsum, nec vehicula sem est sit amet lacus.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras convallis, orci nec feugiat luctus, lectus quam tristique ipsum, nec vehicula sem est sit amet lacus.</p>
          </div>
          <div class="col-md-6">
            <h2 class="h4">Locații</h2>
            <p>Integer finibus erat vel quam aliquet, non gravida nisl convallis. Curabitur placerat risus nec libero dignissim, ac bibendum eros dignissim.</p>
            <p>Integer finibus erat vel quam aliquet, non gravida nisl convallis. Curabitur placerat risus nec libero dignissim, ac bibendum eros dignissim.</p>
          </div>
        </div>
      </section>
    </div>

    <%- include("../fragmente/footer.ejs"); %>
  </body>

</html>