#galerie-statica {
  padding-left: var(--padding-1);
  padding-right: var(--padding-1);
}

#grid-galerie {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: var(--dim-grid-gap);
  grid-column-gap: var(--dim-grid-gap);
  counter-reset: nrimag 0;
}

#grid-galerie img {
  transition: transform 0.8s ease, opacity 0.8s ease, border-radius 0.8s ease;
  transform-origin: top center;
}

#grid-galerie img:hover {
  transform: scale(1.4);
  opacity: 0.5;
  border-radius: 15px;
}

#grid-galerie small {
  text-align: center;
}
#grid-galerie figcaption {
  text-align: center;
  counter-increment: nrimag 1;
}

#grid-galerie figcaption::before {
  content: counter(nrimag, lower-roman) '. ';
}

.fig-0 {
  grid-area: 1 / 1 / 2 / 2;
}
.fig-1 {
  grid-area: 1 / 2 / 2 / 3;
}
.fig-2 {
  grid-area: 1 / 3 / 2 / 4;
}
.fig-3 {
  grid-area: 2 / 1 / 3 / 2;
}
.fig-4 {
  grid-area: 2 / 3 / 3 / 4;
}
.fig-5 {
  grid-area: 3 / 1 / 4 / 2;
}
.fig-6 {
  grid-area: 3 / 2 / 4 / 3;
}
.fig-7 {
  grid-area: 3 / 3 / 4 / 4;
}
.fig-8 {
  grid-area: 4 / 1 / 5 / 2;
}
.fig-9 {
  grid-area: 4 / 3 / 5 / 4;
}
.fig-10 {
  grid-area: 5 / 1 / 6 / 2;
}
.fig-11 {
  grid-area: 5 / 2 / 6 / 3;
}
.fig-12 {
  grid-area: 5 / 3 / 6 / 4;
}

@media screen and (max-width: 1200px) {
  #grid-galerie {
    grid-template-columns: repeat(2, 1fr);
    figure[class^='fig-'] {
      grid-area: unset;
    }
  }
}

@media screen and (max-width: 500px) {
  #grid-galerie {
    display: block;
    figure[class^='fig-'] {
      grid-area: unset;
    }
  }
}
