@media print {
  .banner {
    position: absolute;
    min-width: 80%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 3px 12px;
    border: 2px dashed black;
  }

  .container-iframe,
  img,
  figcaption {
    display: none;
  }

  .top-button {
    display: none;
  }

  #grid-pagina {
    display: block;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  h1 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 2.5rem;
    text-decoration: underline;
  }

  nav {
    display: none;
  }

  h1 {
    page-break-after: always;
  }

  footer {
    page-break-before: always;
  }

  @page :left {
    margin-left: 2.5cm;
    margin-right: 0.5cm;
  }

  @page :right {
    margin-left: 0.5cm;
    margin-right: 2.5cm;
  }

  @media print {
    body::before {
      content: 'Elisei Sergiu';
      position: fixed;
      bottom: 20px;
      left: 20px;
      width: 200px;
      height: 2cm;
      opacity: 0.5;
      font-size: 12px;
      padding: 5px;
      color: black;
      border: 2px double black;
      z-index: 1000; /* Ensures the watermark is above other content */
      pointer-events: none; /* Prevents interaction */
    }
  }
}
