<footer>
  <!-- etapa_1: 12 -->
  <details>
    <summary>De unde provin florile?</summary>
    <p>Florile provin din serele noastre.</p>
  </details>
  <details>
    <summary>Este disponibilă plata cu cardul?</summary>
    <p>Da!</p>
  </details>

  <address>
    <p><i class="fa-solid fa-address-book"></i> Contact:</p>
    <!-- etapa_1: 13a -->
    <a href="tel:+1234567890">+123 456 7890</a>
    <!-- etapa_1: 13b -->
    <a href="https://maps.google.com/?q=Facultatea+de+Matematica+si+Informatica" target="_blank">Adresa</a>
    <!-- etapa_1: 13c -->
    <a href="mailto:contact@florariax.ro">contact@florariax.ro</a>
    <!-- etapa_1: 13d -->
    <a href="skype:florariaX" target="_blank">Skype</a>
  </address>
  <p>
    <small>
      Flori crescute cu multă
      <i class="fa-solid fa-heart fa-beat" style="--fa-animation-duration: 2s; color: red"></i>
    </small>
  </p>
  <p>
    <small>
      <!-- etapa_1: 14 -->
      Copyright&copy; 2024 Floraria X
      <time datetime="2024-03-10">10 martie 2024</time>
    </small>
  </p>
  <hr />

  <!-- etapa_1: 11b -->
  <a href="#top" class="top-button" title="Mergi sus">
    <span>&#8593;</span>
  </a>
  <p class="banner">❗ Acesta este un proiect școlar!</p>
</footer>