<div class="login-form">
  <% if(!locals.utilizator) { %>
  <form id="form_inreg" method="post" class="date" action="/login" enctype="multipart/form-data">
    <p>
      <label>
        Username: <input type="text" name="username" id="inp-username" value="" required pattern="[A-Za-z0-9]+">
      </label>
    </p>
    <p>
      <label>
        Parola: <input id="parl" type="password" required name="parola" value="">
      </label>
    </p>
    <p><input type="submit" value="Logare" class="btn btn-primary btn-sm"></p>
    <button class="btn btn-secondary btn-sm" onclick="event.preventDefault(); window.location.href='/inregistrare';">Inregistrare</button>
  </form>
  <% }   else { %>
  <div>
    <p class="mt-1">
      <span>
        Buna ziua, <%= locals.utilizator.username %>!
      </span>

      <a href="/logout">Logout</a>
    </p>
  </div>
  <% } %>
  <p><%- locals.mesajLogin %></p>
</div>