<div id="top"></div>
<header class="header-content">
  <!-- etapa_3: task meniu -->
  <nav style="position:relative;">
    <!-- etapa_1: 6 -->
    <div class="hamburger-menu">
      <!-- etapa_3: task bonus -->
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
    <ul class="app-navbar">
      <li>
        <a href="/index">
          <i class="fa-solid fa-house"></i>
          <span class="home-text"> Pagina principală </span>
        </a>
        <ul class="submeniu">
          <li><a href="/index#exlusiv">Colecții exclusive</a></li>
          <li><a href="/index#calcul">Calcularea Prețului</a></li>
        </ul>
      </li>
      <li>
        <a href="/produse">Produse</a>
        <ul class="submeniu">
          <% for (let categorie of locals.categorii) { %>
          <li>
            <a href="/produse?categorie=<%- categorie.href %>"><%- categorie.text %></a>
          </li>
          <% } %>
        </ul>
      </li>
      <li><a href="/despre">Despre noi</a></li>

      <li>
        <a href="/creeaza-buchet">Creeaza-ti un buchet de flori</a>
        <ul class="submeniu">
          <li>
            <a href="/creeaza-buchet#buchet">Buchete gata realizate</a>
          </li>
          <li>
            <a href="/creeaza-buchet#flori">Selecteaza florile</a>
          </li>
        </ul>
      </li>
    </ul>

    <%- include("../fragmente/formular-login.ejs") %>
  </nav>
  <h1>Floraria X</h1>
  <p id="banner">Acesta este un proiect scolar. <span id="mesaj-cookies">Acceptati cookie-urile de pe site? <button id="ok_cookies">Ok</button></span></p>
</header>