@charset "UTF-8";
nav {
  --height: 3rem;
  height: var(--height);
  background-color: var(--culoare-1);
  color: var(--text);
  z-index: 500;
  position: relative;
}
nav a:visited {
  color: unset;
}

.hamburger-menu {
  display: none;
}

.app-navbar {
  margin: 0;
  padding: 0;
  list-style: none;
  margin: 0;
  display: flex;
  align-items: center;
  height: var(--height);
  width: 100%;
  background-color: inherit;
}
.app-navbar > li {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  width: fit-content;
}
.app-navbar > li:hover .submeniu {
  transition: transform 0.4s ease;
  transform: scaleY(1);
}
.app-navbar > li > a {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  transition: box-shadow 0.7s ease;
}
.app-navbar > li > a:hover {
  box-shadow: inset 0 0 16px white;
}
.app-navbar > li .home-text {
  margin-left: 0.5rem;
}
.app-navbar a {
  text-decoration: none;
}

.submeniu {
  margin: 0;
  padding: 0;
  list-style: none;
  margin: 0;
  position: absolute;
  overflow: hidden;
  transform: scaleY(0);
  transform-origin: top;
  padding: 0;
  z-index: 1000;
  min-width: 100%;
  width: max-content;
  top: var(--height);
}
.submeniu > li {
  height: var(--height);
  background-color: var(--culoare-1);
  display: block;
  display: flex;
  align-items: center;
}
.submeniu > li > a {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-left: 1.75rem;
  padding-right: 0.625rem;
}
.submeniu > li > a:hover::before {
  opacity: 1;
  left: 6px;
}
.submeniu > li > a::before {
  content: "→";
  position: absolute;
  left: -4px;
  transition: left 0.3s ease, opacity 0.3s ease;
  opacity: 0;
}

@media screen and (max-width: 1200px) {
  .home-text {
    display: none;
  }
  .hamburger-menu {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .app-navbar {
    position: absolute;
    height: unset;
    transform-origin: top left;
    transform: scale(0);
  }
  .app-navbar:hover {
    transition: transform 0.7s ease;
    transform: scale(1) translate(0);
  }
  .hamburger-menu:hover + .app-navbar {
    transition: transform 0.7s ease;
    transform: scale(1) translate(0);
  }
  .app-navbar {
    display: flex;
    flex-direction: column;
  }
  .submeniu > li > a::before {
    content: unset;
  }
  .app-navbar {
    top: var(--height);
  }
  .app-navbar > li {
    width: 100%;
    height: var(--height);
  }
  .app-navbar > li > a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  .app-navbar > li > a:hover + .submeniu {
    display: block;
    border: 1px solid var(--highlight);
  }
  .submeniu {
    transition: none;
  }
  .submeniu a {
    justify-content: center;
    transition: box-shadow 0.7s ease;
  }
  .submeniu a:hover {
    box-shadow: inset 0 0 16px white;
  }
  .submeniu:hover {
    border: 1px solid red;
  }
  .hamburger-menu {
    display: block;
  }
}
.hamburger-menu {
  position: relative;
  width: var(--height);
  height: var(--height);
}

.line {
  position: absolute;
  width: 2rem;
  height: 0.25rem;
  background-color: var(--black);
  border-radius: 8px;
  left: 8px;
  transition: all 0.3s ease;
}
.line:nth-child(1) {
  animation: aparitie-animatie 0.55s ease forwards 0.15s, blink 0.25s ease-in-out forwards 1.15s 1;
}
.line:nth-child(1):nth-child(1) {
  top: 0.75rem;
}
.line:nth-child(1):nth-child(2) {
  top: 1.375rem;
}
.line:nth-child(1):nth-child(3) {
  bottom: 0.75rem;
}
.line:nth-child(2) {
  animation: aparitie-animatie 0.55s ease forwards 0.3s, blink 0.25s ease-in-out forwards 1.3s 1;
}
.line:nth-child(2):nth-child(1) {
  top: 0.75rem;
}
.line:nth-child(2):nth-child(2) {
  top: 1.375rem;
}
.line:nth-child(2):nth-child(3) {
  bottom: 0.75rem;
}
.line:nth-child(3) {
  animation: aparitie-animatie 0.55s ease forwards 0.45s, blink 0.25s ease-in-out forwards 1.45s 1;
}
.line:nth-child(3):nth-child(1) {
  top: 0.75rem;
}
.line:nth-child(3):nth-child(2) {
  top: 1.375rem;
}
.line:nth-child(3):nth-child(3) {
  bottom: 0.75rem;
}

@keyframes aparitie-animatie {
  0% {
    background-color: var(--black);
    transform: scale(0);
    opacity: 0;
    border-radius: 3px;
  }
  33% {
    background-color: var(--culoare-secundara-2);
    opacity: 0.4;
    height: 0.25rem;
    transform: scale(0.4);
    border-radius: 4px;
  }
  66% {
    background-color: var(--culoare-secundara-3);
    border-radius: 8px;
    height: 0.5rem;
    opacity: 0.75;
    transform: scale(0.75);
    border-radius: 6px;
  }
  100% {
    background-color: var(--highlight);
    opacity: 1;
    height: 0.25rem;
    transform: scale(1);
    border-radius: 8px;
  }
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    background-color: var(--black);
    opacity: 1;
  }
}